In [5]:
import sys
sys.path.append('../../')

In [6]:
from estnltk import Text
from pandas import DataFrame

from fast_indexing.fast_indexing import extract_lemma_index
from estnltk_patches.rt_text_analyzer import RTTextAnalyzer

In [7]:
RT_ANALYZER = RTTextAnalyzer()
RTP_ANALYZER = RTTextAnalyzer(propername=True)

In [4]:
text = Text('kala')
RT_ANALYZER(text)
result = DataFrame(extract_lemma_index('42', text), columns = ['wordform', 'doc_id', 'start', 'end', 'weight', 'is_subword'])
display(result)

  wordform doc_id  start  end  weight  is_subword
0     kala     42      0    4     1.0       False

In [6]:
text = Text('sadama')
RT_ANALYZER(text)
result = DataFrame(extract_lemma_index('42', text), columns = ['wordform', 'doc_id', 'start', 'end', 'weight', 'is_subword'])
display(result)

  wordform doc_id  start  end  weight  is_subword
0   sadama     42      0    6     0.5       False
1    sadam     42      0    6     0.5       False

In [7]:
text = Text('kalamees')
RT_ANALYZER(text)
result = DataFrame(extract_lemma_index('42', text), columns = ['wordform', 'doc_id', 'start', 'end', 'weight', 'is_subword'])
display(result)

   wordform doc_id  start  end  weight  is_subword
0  kalamees     42      0    8     1.0       False
1      kala     42      0    8     1.0        True
2      mesi     42      0    8     0.5        True
3      mees     42      0    8     0.5        True

In [8]:
text = Text('Punameremao pisarad.')
RT_ANALYZER(text)
result = DataFrame(extract_lemma_index('42', text), columns = ['wordform', 'doc_id', 'start', 'end', 'weight', 'is_subword'])
display(result)

       wordform doc_id  start  end  weight  is_subword
0  punameremagu     42      0   11     0.5       False
1  punameremadu     42      0   11     0.5       False
2          puna     42      0   11     0.5        True
3        punama     42      0   11     0.5        True
4          meri     42      0   11     1.0        True
5          magu     42      0   11     0.5        True
6          madu     42      0   11     0.5        True
7         pisar     42     12   19     1.0       False

In [8]:
text = Text('Töökorraseadus')
RT_ANALYZER(text)
result = DataFrame(extract_lemma_index('42', text), columns = ['wordform', 'doc_id', 'start', 'end', 'weight', 'is_subword'])
display(result)

         wordform doc_id  start  end  weight  is_subword
0  töökorraseadus     42      0   14     1.0       False
1             töö     42      0   14     1.0        True
2            kord     42      0   14     1.0        True
3         seaduma     42      0   14     0.5        True
4          seadus     42      0   14     0.5        True

In [10]:
text['morph_analysis']

Layer(name='morph_analysis', attributes=('normalized_text', 'lemma', 'root', 'root_tokens', 'ending', 'clitic', 'form', 'partofspeech', '_ignore'), spans=SL[Span('Töökorraseadus', [{'normalized_text': 'Töökorraseadus', 'lemma': 'töökorraseadus', 'root': 'töö_korra_seadus', 'root_tokens': ['töö', 'korra', 'seadus'], 'ending': '0', 'clitic': '', 'form': 'sg n', 'partofspeech': 'A', '_ignore': False}, {'normalized_text': 'Töökorraseadus', 'lemma': 'töökorraseadus', 'root': 'töö_korra_seadus', 'root_tokens': ['töö', 'korra', 'seadus'], 'ending': '0', 'clitic': '', 'form': 'sg n', 'partofspeech': 'S', '_ignore': False}])])

In [9]:
DataFrame([['seaduma', '42', 0, 14, 0.5, True],
 ['korraseadus', '42', 0, 14, 1.0, True],
 ['töökorraseadus', '42', 0, 14, 1.0, False],
 ['töö', '42', 0, 14, 1.0, True],
 ['seadus', '42', 0, 14, 0.5, True],
 ['kord', '42', 0, 14, 1.0, True],
 ['töökord', '42', 0, 14, 1.0, True]])

                0   1  2   3    4      5
0         seaduma  42  0  14  0.5   True
1     korraseadus  42  0  14  1.0   True
2  töökorraseadus  42  0  14  1.0  False
3             töö  42  0  14  1.0   True
4          seadus  42  0  14  0.5   True
5            kord  42  0  14  1.0   True
6         töökord  42  0  14  1.0   True

In [10]:
text = Text('Töökorraseadus')
RTP_ANALYZER(text)
result = DataFrame(extract_lemma_index('42', text), columns = ['wordform', 'doc_id', 'start', 'end', 'weight', 'is_subword'])
display(result)

         wordform doc_id  start  end  weight  is_subword
0  töökorraseadus     42      0   14     0.5       False
1  Töökorraseadus     42      0   14     0.5       False
2             töö     42      0   14     0.5        True
3            kord     42      0   14     0.5        True
4         seaduma     42      0   14     0.5        True
5          seadus     42      0   14     0.5        True
6         töökord     42      0   14     0.5        True

In [12]:
text = Text('Töökorraseadus')
RTP_ANALYZER(text)
result = DataFrame(extract_lemma_index('42', text, ignore_pos=['H']), columns = ['wordform', 'doc_id', 'start', 'end', 'weight', 'is_subword'])
display(result)

         wordform doc_id  start  end  weight  is_subword
0  töökorraseadus     42      0   14     1.0       False
1             töö     42      0   14     1.0        True
2            kord     42      0   14     1.0        True
3         seaduma     42      0   14     0.5        True
4          seadus     42      0   14     0.5        True